.env
.env.production
f1tenth_labs
.vscode
__pycache__
*.pyc
.pth
.pt
outputs

# model checkpoints / track dumps
.pickle
tracks.pickle

# Cmake build files
CmakeFiles
CMakeCache.txt
cmake_install.cmake

# ML
.pt
checkpoints
policy_cache

wandb